<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target name="console" xsi:type="ColoredConsole"
            layout="${date:format=MMdd.HHmmss} ${event-context:item=userName} {${event-context:item=sid}} ${message} " />
    <target name="errConsole" xsi:type="ColoredConsole"
           layout="${date:format=MMdd.HHmmss}  ${message} ${exception:format=StackTrace}" />
    <target name="file" xsi:type="File" fileName="${basedir}/Logs/${shortdate}.log"
            layout="${date:format=yyyyMMdd_HHmmss} ${level}: ${logger} ${message}" />

    <target name="errfile" xsi:type="File" fileName="${basedir}/Logs/error.log"
        layout="${date:format=MMdd.HHmmss}  ${message} ${exception:format=StackTrace}" />
  </targets>
  <rules>
    <logger name="*" minlevel="Trace" writeTo="console,file" />
    <logger name="*" levels="Warn,Error" writeTo="errConsole,errfile" />
    <logger name="*" level="Fatal" writeTo="errfile,errConsole" />
  </rules>
</nlog>